<!-- https://bootswatch.com/superhero/ -->
<div class="container" style="padding: 20px;">
  <div class="card border-primary mb-3" style="max-width: 100rem;">
    <div class="card-header">Login Form</div>
    <div class="card-body">
      <form (submit)="createChannel($event)">
        <fieldset>
          <div class="form-group">
            <label>Channel Name</label>
            <input [(ngModel)]="channelName" type="text" placeholder="Channel Name" id="channelName" class="form-control" name="channelName">
          </div>
          <button type="submit" class="btn btn-primary">Create Channel</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div *ngFor="let channel of channels">
  <div class="container" style="padding: 20px;">
    <div class="card border-primary mb-3" style="max-width: 100em;">
      <div class="card-header">{{channel.name}}</div>
      <div class="card-body">
        <div *ngFor="let user of channel.users">
          {{user}}
        </div>
      </div>
    </div>
  </div>
</div>