<!-- https://bootswatch.com/superhero/ -->
<div class="container" style="padding: 20px;">
  <div class="card border-primary mb-3" style="max-width: 100rem;">
    <div class="card-header">Create Channel Form</div>
    <div class="card-body">
      <form (submit)="createGroup(group_name)">
        <fieldset>
          <div class="form-group">
            <label style="margin: 10px">Group Name</label>
            <input [(ngModel)]="group_name" type="text" placeholder="Group Name" id="group_name" class="form-control" name="group_name" style="margin: 10px">
          </div>
          <button type="submit" class="btn btn-primary" style="margin: 10px">Create Group</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div *ngFor="let group of groups">
  <div class="container" style="padding: 20px;">
    <div class="card border-primary mb-3" style="max-width: 100em;">
      <div class="card-header">{{group.name}}</div>
      <div class="card-body">
        <form>
          <p *ngFor="let channel of group.channels" style="margin: 10px">Channels: {{channel.name}}</p>
          <p style="margin: 10px">Users: {{group.users}}</p>
          <p style="margin: 10px">Admin: {{group.admin}}</p>
          <fieldset>
            <div class="form-group">
              <input [(ngModel)]="group_user_name" type="text" placeholder="Group/User Name" class="form-control" name="group_user_name" style="margin: 10px">
            </div>
            <button (click)="deleteGroup(group)" type="submit" class="btn btn-danger" style="margin-left: 10px">Delete Group</button>
            <button (click)="addToGroup(group_user_name, group, 'channels')" type="submit" class="btn btn-primary" style="margin: 10px">Add/Delete Channel</button>
            <button (click)="addToGroup(group_user_name, group, 'users')" type="submit" class="btn btn-primary" style="margin-right: 10px">Add User</button>
            <button (click)="addToGroup(group_user_name, group, 'admin')" type="submit" class="btn btn-primary">Add Admin</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>