<!-- https://bootswatch.com/superhero/ -->
<div *ngFor="let group of groups">
  <div class="container" style="padding: 20px;">
    <div class="card border-primary mb-3" style="max-width: 100em;">
      <div class="card-header">{{group.group_name}}</div>
      <div class="card-body">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let channel of group.channels" class="table-light">
              <td>{{channel}}</td>
              <td><button type="submit" class="btn btn-primary" style="float: right;" (click)="navigateChat(channel)">Chat</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>